[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = PH
ST = Manila
L = Quezon City
O = WMSU
OU = IT DEPARTMENT
CN = 192.168.254.110

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.254.110
IP.2 = 127.0.0.1
DNS.1 = localhost